<a href="https://colab.research.google.com/github/2981047480/zephyr/blob/master/chapter1%E2%80%94%E2%80%94python%E5%90%8C%E6%97%B6%E7%BB%99%E5%A4%9A%E4%B8%AA%E5%8F%98%E9%87%8F%E8%B5%8B%E5%80%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python列表的多重赋值

## 正常用法

比如vars=[1,2,3]，则可以用a,b,c = vars来给他赋值，同时vars=[1,2,3,4,5]，则可以用a,*b,c = vars去给他们赋值，这样得到的b是一个列表（就算var是turple类型，b的类型也是list）

另外vars=[1,(2,3),4]，则可以用a,(b,c),d = vars去赋值。

当我们只想要其中的某几个元素，我们可以这么做：

> a, _, c, _ = vars

我们还可以对带星号的变量进行操作，如：

In [1]:
vars = [1,2,3,4,5,6,7,8]
a, *b, c = vars

In [4]:
sum(b)/len(b)

4.5

## 另一种用法
我们也可以用split去分隔后用我们上面学的表达式进行赋值

In [5]:
str1 = 'a,b,c,d,e,f'
a, *bcde, f = str1.split(',')

In [6]:
a, bcde, f

('a', ['b', 'c', 'd', 'e'], 'f')